@model BlogsViewModel;

@if (Model.Blogs == null || Model.Blogs.Count() < 1)
{
    <div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">No posts ☹️</h4>
    <p>There are no posts yet. Please write one or come again some other time!</p>
    <hr>
    <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
</div>
}
else
{
    <div class="row mx-4 mt-5">
    @foreach(var blog in Model.Blogs)
    {
        <div class="col-md-6">
            <div class="row g-0 card rounded shadow overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <div class="d-flex">
                        @if(blog.Tags?.Count() > 0)
                        {
                            foreach(var tag in blog.Tags)
                            {
                                <span class="badge bg-info text-light mx-1">Info</span>

                            }
                        }
                    </div>
                    <h3 class="mb-0">@blog.Title</h3>
                    <div class="d-flex">
                        <div class="mb-1 text-muted">@DateTime.Now.ToString("MMM dd, yyyy")</div>
                        <i class="far fa-thumbs-up ms-auto"> 1432</i>
                    </div>
                    <p class="card-text">@Html.Raw(blog.Description)</p>
                    <a href="/post/@blog.Id" class="stretched-link">Continue reading</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img src="@blog.BannerImageUrl" width="200" height="250">
                </div>
            </div>
        </div>
    }
</div>
}