@model intro.ViewModels.RegisterViewModel

<input hidden="true" value="ReturnUrl">
<form class="mt-5 col"  method="post" asp-action="Register" asp-controller="Account">
    <label asp-for="Fullname"></label>
    <input asp-for="Fullname">
    
    <label asp-for="Username"></label>
    <input asp-for="Username">

    <label asp-for="Email"></label>
    <input asp-for="Email">

    <label asp-for="Password"></label>
    <input asp-for="Password">

    <button type="submit">Register</button>
</form>